body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.inside-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 60px;
  background: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.home-page {
  text-align: center;
  margin-top: 100px;
}

.logo {
  width: 120px;
}

.customer-section h2 {
  margin-bottom: 20px;
}

.customer-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button,
.green,
.red,
.call-btn {
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.call-btn {
  background: #3b82f6;
}

.green {
  background: green;
}

.red {
  background: red;
}

.bottom-nav {
  height: 70px;
  background: #3b82f6;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav div {
  text-align: center;
  cursor: pointer;
}

.profile-page {
  text-align: center;
  margin-top: 50px;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
}